section {
  display: flex;
  width: 100%;
  // min-height: 100vh;
  color: $basic-green;
  flex-wrap: wrap;

  div {
    width: 50%;
    min-width: calc(992px / 2);
    flex-wrap: wrap;
    padding: 8%;
    // display: flex;
    // flex-direction: column;
    .section-title {
      text-transform: uppercase;
      span {
        font-family: "america expanded bold";
        &::after {
          content: "______";
          width: 40px;
          color: $second-green;
          margin: 5px;
        }
      }
    }
    h2 {
      font-size: 2.6rem;
      width: 400px;
      font-family: "america expanded";
    }
    p {
      line-height: 40px;
      font-size: 1.3rem;
      width: 80%;
    }
  }
  .build-solutions-para {
    color: $basic-green;
    margin-bottom: 80px;
  }
  .discover-link {
    border: solid 3px $second-green;
    padding: 20px 40px;
    width: 80%;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    color: #51b364;
    transition: all ease 0.6s;
    white-space: nowrap;
    i {
      margin-left: 30px;
      transition: all ease 0.6s;
    }
    &:hover {
      background-color: $second-green;
      color: #fff;
      padding: 20px 35px;
    }
    &:hover i {
      margin-left: 40px;
    }
  }
  /*img on the right*/
  .build-solution-img {
    background-image: url("img/top-right.jpg");
    .hover-text {
      background-color: $basic-green;
      width: 100%;
      padding: 50px;
      display: flex;
      margin-top: 60%;
      margin-left: -30%;
      align-items: center;
      .hover-para {
        color: #fff;
        width: 90%;
        border-left: solid 3px $second-green;
        padding-left: 40px;
      }
    }
  }
}

/* responsive 992px */

@media screen and (max-width: 992px) {
  .build-solution {
    div {
      width: 100%;
    }
    .build-solutions-text {
      padding: 80px;
      h2 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
        line-height: 30px;
      }
      a {
        font-size: 1.2rem;
      }
    }
    .build-solution-img {
      height: 60vh;
      .hover-text {
        margin: 40% auto auto auto !important;
        padding: 14px !important;
        width: 8% !important;
        display: flex;
        .hover-para {
          font-size: 0.9rem !important;
          line-height: 20px;
          padding-left: 14px;
        }
      }
    }
  }
}

/* > 500px*/
@media screen and (max-width: 500px) {
  .build-solution {
    div {
      min-width: 300px;
    }
    .build-solutions-text {
      padding: 60px 20px;
    }
    .build-solution-img {
      padding: 20px;
      .hover-text {
        width: 70% !important;
        padding: 10px 10px 10px 20px !important;
        margin-top: 70%;
        .hover-para {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}
