footer {
  background-color: #1e1e1e;
  padding: 60px 120px;
  color: #fff;
  font-family: "america expanded";

  /* logo and navbar */
  .footer-nav {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 0;
    width: 100%;
    img {
      transform: rotate(90deg);
      margin-left: 80px;
      width: 30px;
      flex: 0 1 auto;
    }
    ul {
      padding: 0px;
      display: flex;
      color: #fff;
      width: 74%;
      margin-left: auto;
      // height: 60px;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      flex-wrap: wrap;
      li {
        text-transform: uppercase;
        padding: 10px;
        width: 140px;
        text-align: center;
      }
    }
  }
  /* legals */
  .mentions {
    display: flex;
    justify-content: space-between;
    color: #bbb;
    flex-wrap: wrap;
    text-align: center;
    p {
      width: 400px;
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer-nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    ul {
      margin: auto;
    }
  }
  img {
    margin: auto !important;
  }
  address {
    text-align: center;
  }
}
