header {
  color: #fff;
  height: 100vh;
  display: flex;
  .header-title {
    background: url("img/header.jpg") no-repeat center;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 80px;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: 2.8rem;
      align-self: center;
      font-family: "america expanded";
      font-weight: lighter;
      width: 400px;
      margin-right: 50%;
    }
    .anchors {
      align-self: flex-end;
      width: 70%;
      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        &:hover li {
          opacity: 0.5;
        }
        li {
          margin: 12px;
          width: 30%;
          min-width: 200px;
          border-bottom: solid 3px #fff;
          padding-bottom: 20px;
          transition: all 0.6s ease;
          a {
            color: #fff;
            text-decoration: none;
            h4 {
              margin-bottom: -10px;
            }
            p {
              font-size: 0.9rem;
            }
          }
          &:hover {
            opacity: 1;
            border-bottom: solid 3px $second-green;
          }
        }
      }
    }
  }
}

/* reponsive 992px */
@media screen and (max-width: 992px) {
  header {
    .header-title {
      h1 {
        font-size: 1.4rem;
        width: 100% !important;
        margin-left: 66%;
        // white-space: nowrap;
      }
      .anchors {
        width: 100%;
        ul {
          flex-direction: column;
          width: 100%;
          height: 140px;
          li {
            width: 100%;
            font-size: 0.8rem;
            border-bottom: solid 1px #fff;
            margin: 4px;
          }
        }
      }
    }
  }
}
