header {
  display: flex;
  color: #fff;
  height: 100vh;

  .header-title {
    background: url("img/header.jpg") no-repeat center;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 80px;
    h1 {
      margin-left: 230px;
      margin-top: -100px;
      font-size: 2.8rem;
      width: 350px;
      align-self: center;
      font-family: "america expanded";
    }
    .anchors {
      align-self: flex-end;
      width: 70%;
      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li {
          width: 30%;
          border-bottom: solid 3px #fff;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #51b364;
            }
          }
        }
      }
    }
  }
}
