/*aside navbar*/
.full-nav {
  width: 100%;
  flex-direction: row;
  transition: all ease 0.8s;
}
nav {
  // height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  transition: all ease 0.8s;
  z-index: 999;
  width: 10%;
  .burger {
    position: absolute;
    top: 20px;
    left: auto;
    transition: all ease 0.8s;
    i {
      font-size: 2rem;
      color: $second-green;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  .vertical {
    background-color: $basic-green;
    height: 100%;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 46px;
    transition: all ease 0.8s;
    // margin: auto;
    .logo {
      width: 36%;
      min-width: 34px;
    }
    img {
      width: 100%;
      // width: 100px;
      margin: auto;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 200px;
      i {
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
      }
      .more {
        transform: rotate(-90deg);
        margin-top: 50px;
        width: 140px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;

        i {
          transform: rotate(180deg);
        }
      }
      a > i:hover,
      a:hover {
        color: #51b364;
      }
    }
  }
}

/* responsive */

@media screen and (max-width: 992px) {
  nav .vertical {
    width: 80px;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  nav .vertical {
    width: 46px;
  }
}

// @media screen and (max-height: 900px) {
//   nav {
//     .vertical {
//       height: 100%;
//       flex-wrap: wrap;
//     }
//   }
// }
