/* vars */
$basic-green: #284745;

/*fonts*/
@font-face {
  font-family: "america expanded";
  src: url("/assets/fonts/GT-America/GT-America-Expanded-Medium.otf");
}
/* global */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

/*imports */
@import "nav.scss";
@import "header.scss";
@import "main.scss";
