/* vars */
$basic-green: #284745;
$second-green: #51b364;
/*fonts*/
@font-face {
  font-family: "america expanded";
  src: url("/assets/fonts/GT-America/GT-America-Expanded-Medium.otf");
}
@font-face {
  font-family: "america expanded bold";
  src: url("/assets/fonts/GT-America/GT-America-Expanded-Bold.otf");
}
@font-face {
  font-family: "tt norms bold";
  src: url("/assets/fonts/TT-Norms/TTNorms-Bold.otf");
}
/* global */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: $second-green;
  }
}

/*imports */
@import "menu.scss";
@import "nav.scss";
@import "header.scss";
@import "build-solutions.scss";
@import "knowledge.scss";
@import "territory.scss";
@import "actus.scss";
@import "footer.scss";
